<div id="duserFind" class="container-fluid bg-dark">


    <form #FormVariable ='ngForm' (ngSubmit)="viewAssignedExamByAssignedId()">
      <table class="container-fluid table">
          <tr>
              <th>
               <label class="text-light">FindAssignedById</label>
              </th>
              <th>
                  <div class="form-group">
                      <input type="text" class="form-control" id="AssignedId" #AssignedExamIdToUser="ngModel" aria-describedby="AssignedId" minlength="1" maxlength="6"
                      required placeholder="Enter the AssignedId" [(ngModel)]="assignedId" name=assignedId pattern="^[0-9]{6}$">

                       <div *ngIf="AssignedExamIdToUser.invalid && (AssignedExamIdToUser.dirty || AssignedExamIdToUser.touched)" class="text text-danger">
                            <div *ngIf="AssignedExamIdToUser.errors.required">Please enter the AssignedId required </div>
                            <div *ngIf="AssignedExamIdToUser.errors.minlength">DistributorId must be  characters.</div>

                       </div>
                    </div>

              </th>
              <th>
                  <div class="form-group"><button class="btn btn-success" type="submit" [disabled]="!FormVariable.valid"> <b>GetDetails!</b></button></div>
              </th>
          </tr>
      </table>
     </form>
  
  
     <div>
         <table class="table table-striped table-dark">
             <thead >
              <tr>
                  <th>
                     <label> S.no</label>
                  </th>
                  <th>
                     <label>AssignedId</label>
                  </th>
                  <th>
                   <label>Marks</label>
                </th>
                <th>
                  <label>Status</label>
               </th>
               <th>
                <label>Date</label>
             </th>
             <th>
              <label>User</label>
           </th>
           <th>
             <label>Exam</label>
          </th>
          <th>
            <label>Function</label>
         </th>
              </tr>
             </thead>
             <tbody>
              <tr *ngFor="let assigned of AssignedUsers let i=index">
                  <th>{{i+1}}</th>
                  <th>{{assigned.assignedId}} </th>
                  <th>{{assigned.marks}} </th>
                  <th>{{assigned.status}}</th>
                  <th>{{assigned.dateOfExam|date:"dd/MM/yyyy"}}</th>
                  <th>{{assigned.user.userId}}</th>
                  <th>{{assigned.exam.examId}}</th>
                  <th> 
                      <button class="btn btn-success" (click)= change()> Change!</button>
                  </th>
              </tr>
             </tbody>
         </table>
     </div>

     <div class="col-sm" *ngIf=updateStatus align=center>
        <div class="card " style="width: 29rem;">
            <div class="card-header"><pre><h4><b>Update Process</b></h4></pre></div>
                <form >
                        <div class="form-group">
                          <label for="updateExamId"><b>AssignedId </b></label>
                          <input required minlength="2" maxlength="10"type="text" class="form-control" id="eId"  placeholder="Enter the updated ExamId"
                          name=updatedassignedId value="assignedId"[(ngModel)]="assignedId" disabled >
                          </div>

                          <div class="form-group">
                            <label for="updateExamId"><b>Update ExamId</b></label>
                            <input required minlength="2" maxlength="4"type="text" class="form-control" id="eId"  placeholder="Enter the updated ExamId"
                            name=updatedExamId value="beforeUpdateExamId"[(ngModel)]="updatedExamId">
                            </div>

                       <div>
                                     <pre>                          <button class="btn btn-success" (click)= updateAssigned()> Update</button></pre>
                                  </div>
                            
                </form>
            
        </div>
    </div>
     
  </div>
  
  <div align=center>
      <h3>{{msg}}</h3>
  </div>