<div class="container-fluid bg-dark">
<table class="table">
  <thead>
    <tr>
      <th>
        <button  class="btn btn-success" routerLinkActive="Active" routerLink="assignExam">assignExam</button>
      </th>
      <th>
        <button class="btn btn-success" routerLinkActive="Active" routerLink="viewAssignedExamByAssignedId">viewAssignedExamByAssignedId</button>
      </th>
      <th>
        <button class="btn btn-success" routerLinkActive="Active" routerLink="viewAllUser">viewAllUser</button>
      </th>
      <th>
        <button  class="btn btn-success" routerLinkActive="Active" routerLink="checkDateConflict">checkDateConflict</button>
      </th>
      <th>
        <button  class="btn btn-success" routerLinkActive="Active" routerLink="addExam">AddExam</button>
      </th>
      <th>
        <button  class="btn btn-success" routerLinkActive="Active" routerLink="viewExams">ViewExam</button>
      </th>
      <th>
        <button  class="btn btn-success" routerLinkActive="Active" routerLink="userExamHistory">userExamHistory</button>
      </th>

    </tr>
  </thead>
</table>
</div>