<div class="container-fluid bg-dark">
<table class="table">
    <tr>
        <th>
            <button class="btn btn-success"  type="button" routerLinkActive="Active" routerLink="addUser">addUser</button>
        </th>
        <th>
            <button class="btn btn-success"  type="button" routerLinkActive="Active" routerLink="viewUser">ViewUser</button> 
        </th>
        <th>
            <button  class="btn btn-success" type="button"routerLinkActive="Active" routerLink="viewExams">ViewExam</button> 
        </th>
        <th>
            <button  class="btn btn-success" type="button" routerLinkActive="Active" routerLink="userExamHistory">userExamHistory</button>
        </th>
    </tr>
</table>
</div>