  <div class="jumbotron">
    <div>
      <h4>
        Welcome to the <b><i> NexGenplatform!:-)</i></b>
      </h4>
    </div>
  
    <div id="tb-1">
      <table class="table" id="t1">
        <thead>
          <tr > 
            <th>
              <p>.</p>
            </th>
            <th>
              <div align="center">
                <h1><b><i>3 Mantras! of NEXTGENPLATFORM </i></b></h1>
              </div>
            </th>
  
            <th>
              <p>.</p>
            </th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <th>
              <div>
                <p>
                  One-stop-destination  for  examination, preparation, recruitment,  and more. 
                  Specially designed online examination system to solve all your preparation worries.
                </p>
              </div>
            </th>
            <th>
            <div>
              <p>
              Instant scorecard generation,computational analysis, efficient  feedback sharing to boost 
              up your performance and precision. An ultimate combination of detailed and drilled methodologies
               that will eventually complement your skills and grades.
              </p>
            </div>
          </th>
          <th>
          <div>
            <p>
              The platform is smooth to use with a translational flow of information.
              A click to the next trick, simple registration, easy test and quiz creation,
             signing- in, synchronized processing, secured encoding and decoding of information and more
            </p>
          </div>
         </th>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="lead">
     
     
    </p>
  
  <!--          
    Footer 
  -->
    <hr class="my-4">
    <footer class="page-footer font-small blue pt-4">
  
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
    
              <!-- Content -->
              <h5 class="text-uppercase">Contact Us!</h5>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
    
                <!-- Name of Developers -->
                <h5 class="text-uppercase">Name of Developers</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Vijay (Full Stack Dev & AWS Sol Architect)</a>
                  </li>
                  <li>
                    <a href="#!">Suresh(Full Stack Developer)</a>
                  </li>
                  <li>
                    <a href="#!">Kirshna(Full Stack Developer)</a>
                  </li>
                  <li>
                    <a href="#!">Chaithanya(Full Stack Developer)</a>
                  </li>
                </ul>
    
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
    
                <!-- Links -->
                <h5 class="text-uppercase">Phone numbers</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">+91-9874563210</a>
                  </li>
                  <li>
                    <a href="#!">+91-9874563210</a>
                  </li>
                  <li>
                    <a href="#!">+91-9874563210</a>
                  </li>
                  <li>
                    <a href="#!">+91-9874563210</a>
                  </li>
                </ul>
    
              </div>
              <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2016 - 2020 Copyright:
          <a href="https://NextGenPlatforms.com/">  NextGenPlatfroms.com</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
  </div>

  