<div>
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
      <pre> <p>                                                                             </p></pre>
      <button class="btn btn-outline-success" type="button" id="h1" routerLinkActive="Active" routerLink="home" >Home</button>
      <pre> <p></p></pre>
      <button class="btn btn-outline-success" type="button"id="h2" routerLinkActive="Active" routerLink="user">UserModule</button>
      <pre> <p></p></pre>
      <button class="btn btn-outline-success" type="button" id="h3"routerLinkActive="Active" routerLink="admin">AdminModule</button>
      <pre> <p></p></pre>
      <button class="btn btn-outline-success" type="button">About</button>
      <pre> <p></p></pre>
      <button class="btn btn-outline-success" type="button">Chat</button>
      <pre> <p>          </p></pre>
      <button class="btn btn-outline-success" type="button" id="h4"routerLink="user">Login/signUp</button>
    </form>
  </nav>
  
</div>

<router-outlet></router-outlet>
